<section class="section hero is-fullheight" itemscope itemtype="http://schema.org/HomePage">
	<div class="hero-head">
		{{ partial "nav.html" . }}
	</div>
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-8 is-offset-2">
          <figure class="column has-text-centered">
            <img src="/cuars_logo_redblue.svg" width=60% alt="Logo of the Cardiff University Amateur Radio Society" />
          </figure>
          <br/>
          <div class="message is-link">
            <div class="message-header is-info">
              Upcoming Event!
            </div>
            <div class="message-body">
              <div class="title is-5">
                <a href="/events/2020/roundtable">Microwave Roundtable</a> - March 7
              </div>
              Talks, food, socializing! The UK Microwave Group is a center of activity and engineering for frequencies above 1 GHz. The Roundtable is a big meetup, a chance to share your work and see what others have been doing, and to network with local Amateur Radio operators with a wide variety of experience!

              Check out the full program and info!

              <br/>
              <a href="/events/2020/roundtable/program" class="button is-info">More Info</a>
            </div>
          </div>
          <br/>
					<div class="content">
					{{ .Content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
{{ partial "footer.html" . }}
	</div>
</section>
