<section class="section hero is-fullheight" itemscope itemtype="http://schema.org/HomePage">
	<div class="hero-head">
		{{ partial "nav.html" . }}
	</div>
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-8 is-offset-2">
          <figure class="column has-text-centered">
            <img src="/cuars_logo_redblue.svg" width=60% alt="Logo of the Cardiff University Amateur Radio Society" />
          </figure>
          <br/>
          <div class="message is-link">
            <div class="message-header is-info">
              Upcoming Event!
            </div>
            <div class="message-body">
              <div class="title is-5">
                <a href="https://www.cardiffstudents.com/activities/society/cardiffars/">GIAG: Wireless Radio Hacking</a> - October 18
              </div>
              The world is wireless! Learn how information is transmitted using radios and how to receive, modify, and transmit your own signals.
              <br/>
              <a href="https://www.cardiffstudents.com/activities/society/cardiffars/" class="button is-info">More Info and Sign-up</a>
            </div>
          </div>
					<div class="content">
					{{ .Content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
{{ partial "footer.html" . }}
	</div>
</section>
